{% extends "base.html" %}
{% block content %}
<div>
    <h2 class="text-center">Posts</h2>
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Post</th>
        <th scope="col">Text</th>
        <th scope="col">Date</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
    {% for q in queryset %}    
      <tr>
        <th scope="row">{{ q.id }}</th>
        <td>{{ q.post }}</td>
        <td>{{ q.text }}</td>
        <td>{{ q.date_posted }}</td>
        <td>{{ q.user.username }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}